<!DOCTYPE html>
<html>
  <head>
    <title>Task4th</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>
    <header class="header">
  	<% if user_signed_in? %>
      <ul class="header-nav">
        <p class="header-title">ようこそ<%= current_user.name %>さん</p>
  		  <li class="header-list"><%= link_to 'ログアウト', destroy_user_session_path,method: :delete %>|</li>
        <li class="header-list"><%= link_to 'トップ', posts_path %>|</li>
        <li class="header-list"><%= link_to 'マイページ', user_path(current_user.id) %>|</li>
        <li class="header-list"><%= link_to 'ユーザー一覧',users_path %></li>|
        <li class="header-list"><%= link_to '投稿する', new_post_path %></li>
      </ul>
  	<% else %>
      <ul class="header-nav">
  		  <li class="header-list"><%= link_to '新規登録', new_user_registration_path %>|</li>
  		  <li class="header-list"><%= link_to 'ログイン', new_user_session_path %></li>
      </ul>
  	<% end %>
  </header>
    <%= yield %>
  </body>
</html>
